:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Grey-500: hsl(234, 12%, 34%);
    --Grey-400: hsl(212, 6%, 44%);
    --White: hsl(0, 0%, 100%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    font-family: "Poppins", sans-serif;
    Font-size: 15px;
}
.container{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    max-width: 550px;
    text-align: center;
    margin: 0 auto 80px auto;
}
.title h2 {
    font-size: 32px;
    font-weight: 200;
    color: var(--Grey-500);
}
.title h1 {
     font-size: 32px;
    font-weight: 600;
    color: var(--Grey-500);
    margin-bottom: 25px;
}
.title p {
    font-size: 15px;
    color: var(--Grey-500);
}
.card {
    padding: 35px;
    display: flex;
    flex-direction: column;
    max-width: 355px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-bottom: 55px;
}
.card h2{
    font-size: 24px;
    font-weight: 600;
    color: var(--Grey-500);
    margin-bottom: 10px;
}
.card p {
    color: var(--Grey-400);
}
.card img {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    align-self: end;
}
.card.cyan {
    border-top: 4px solid var(--Cyan);
    align-self: center;
}
.card.red {
    border-top: 4px solid var(--Red);
    margin-bottom: 25px;
}
.card.orange {
    border-top: 4px solid var(--Orange);
}
.card.blue {
    border-top: 4px solid var(--Blue);
    align-self: center;
}

@media only screen and (max-width: 768px) {
    
    .container{
        max-width: 375px;
        margin-top: 50px;
    }
    .title h1 {
        font-size: 24px;
    }
    .title h2 {
        font-size: 20px;
    }
    .cards {
        flex-direction: column;
        align-items: center;
    }
}